<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Neutral_Movies</title>
    <!-- <link rel="stylesheet" href="happy.css"> -->
    <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(rgba(43, 163, 238, 0.85),rgba(212, 227, 11, 0.72)),url(Images/img4.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    img{
        width: 200px;
        height: 250px;
        margin: 0px;
        border: 6px double white;
    }   

    .img{
        width: 500px;
        height: 500px;
        border: 4px solid black;
        margin: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .header{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(22, 22, 21, 0.5),rgba(10, 10, 10, 0.849)),url(static/img12.png);
        background-position: center;
        background-size: cover;
        overflow-x: hidden;
        justify-content: center;
        text-align: center;
    }
    .box{
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);
        transition: 1s;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .box img:hover{
        transform: scale(1.025);
        z-index: 2;
    }

    .card{
        background-color: rgba(89, 244, 182, 0.945);
        margin: 10px; 
        width: 250px; 
        
    }
    .btn:hover{
        transform: scale(1.25);

    }
    .card-title{
        font: italic 1.2em "Fira Sans", serif;
        font-weight: bold;    
    }
    

    </style>
</head>

<body>
       
    <div class="header col ">
      

       
        <div class="box ">

        <div class="card box  cardcss card-text-right " style=" width: 18rem;">

            <img class="card-img-top" src="https://i.postimg.cc/jSXdn3ZS/bg1.png" alt="funcard img">
            <div class="card-body">
                <div class="card-title h1"> Get Out
                    <div class="card-text card-text-right">
                         <h6> IMBD Rating 7.7/10 632k </h6>
                        <a href=" https://www.imdb.com/title/tt5052448/" target="_blank" class="btn btn-info"> Watch Now!</a>
                    </div>
                </div>
            </div>
      </div>

      <div class="card box  cardcss card-text-right " style=" width: 18rem;">

        <img class="card-img-top" src="https://i.postimg.cc/mZzDpw2m/bg2.png" alt="funcard img">
        <div class="card-body">
            <div class="card-title h1"> The Cabinet of Dr. Caligari
                <div class="card-text card-text-right">
                     <h6> IMBD Rating 8.0/10 66k </h6>
                    <a href="https://www.imdb.com/title/tt0010323/" target="_blank" class="btn btn-info"> Watch Now!</a>
                </div>
            </div>
        </div>
  </div>
  <div class="card box  cardcss card-text-right " style=" width: 18rem;">

    <img class="card-img-top" src="https://i.postimg.cc/Kc6Y6M1x/bg3.png" alt="funcard img">
    <div class="card-body">
        <div class="card-title h1"> A Quiet Place

            <div class="card-text card-text-right">
                 <h6> IMBD Rating 7.5/10 544k </h6>
                <a href="https://www.imdb.com/title/tt6644200/" target="_blank" class="btn btn-info"> Watch Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

    <img class="card-img-top" src="https://i.postimg.cc/vH5mbZn9/bg4.png" alt="funcard img">
    <div class="card-body">
        <div class="card-title h1"> Psycho
            <div class="card-text card-text-right">
                 <h6> IMBD Rating 8.5/10 682k </h6>
                <a href="https://www.imdb.com/title/tt0054215/" target="_blank" class="btn btn-info"> Watch Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

    <img class="card-img-top" src="https://i.postimg.cc/fkn18ZTQ/bg7.png" alt="funcard img">
    <div class="card-body">
        <div class="card-title h1"> Repulsion
            <div class="card-text card-text-right">
                 <h6> IMBD Rating 7.6/10 55k </h6>
                <a href="https://www.imdb.com/title/tt0059646/" target="_blank" class="btn btn-info"> Watch Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

    <img class="card-img-top" src="https://i.postimg.cc/XqyTKXWg/bg8.png" alt="funcard img">
    <div class="card-body">
        <div class="card-title h1"> Nosferatu
            <div class="card-text card-text-right">
                 <h6> IMBD Rating 7.9/10 100k </h6>
                <a href="https://www.imdb.com/title/tt0013442/?ref_=nv_sr_srsg_0" target="_blank" class="btn btn-info"> Watch Now!</a>
            </div>
        </div>
    </div>
</div>


<div class="card box  cardcss card-text-right " style=" width: 18rem;">

    <img class="card-img-top" src="https://i.postimg.cc/pdLVfQ6Y/bg11.png" alt="funcard img">
    <div class="card-body">
        <div class="card-title h1"> Frankenstein
            <div class="card-text card-text-right">
                 <h6> IMBD Rating 7.8/10 75k </h6>
                <a href="https://www.imdb.com/title/tt0021884/" target="_blank" class="btn btn-info"> Watch Now!</a>
            </div>
        </div>
    </div>
</div>

<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/g2d2Jby7/bg12.png" alt="funcard img">
<div class="card-body">
    <div class="card-title h1"> Aliens
        <div class="card-text card-text-right">
             <h6> IMBD Rating 8.4/10 728k </h6>
            <a href="https://www.imdb.com/title/tt0090605/" target="_blank" class="btn btn-info"> Watch Now!</a>
        </div>
    </div>
</div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/cJkxXgqq/bg13.png" alt="funcard img">
<div class="card-body">
<div class="card-title h1"> It Follows
    <div class="card-text card-text-right">
         <h6> IMBD Rating 6.8/10 250k </h6>
        <a href="https://www.imdb.com/title/tt3235888/" target="_blank" class="btn btn-info"> Watch Now!</a>
    </div>
</div>
</div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/d17qXsvh/bg14.png" alt="funcard img">
<div class="card-body">
<div class="card-title h1"> Let the Right One In
    <div class="card-text card-text-right">
         <h6> IMBD Rating 7.9/10 221k </h6>
        <a href="https://www.imdb.com/title/tt1139797/" target="_blank" class="btn btn-info"> Watch Now!</a>
    </div>
</div>
</div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/T1gTdtKG/bg15.png" alt="funcard img">
<div class="card-body">
<div class="card-title h1"> Night of the Living Dead
    <div class="card-text card-text-right">
         <h6> IMBD Rating 7.8/10 132k </h6>
        <a href="https://www.imdb.com/title/tt0063350/" target="_blank" class="btn btn-info"> Watch Now!</a>
    </div>
</div>
</div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/hjHSRkPp/bg16.png" alt="funcard img">
<div class="card-body">
<div class="card-title h1"> Hereditary
    <div class="card-text card-text-right">
         <h6> IMBD Rating 7.3/10 334k </h6>
        <a href="https://www.imdb.com/title/tt7784604/" target="_blank" class="btn btn-info"> Watch Now!</a>
    </div>
</div>
</div>
</div>

<div class="card box  cardcss card-text-right " style=" width: 18rem;">

    <img class="card-img-top" src="https://i.postimg.cc/W4dMzVSV/1.jpg" alt="funcard img">
    <div class="card-body">
        <div class="card-title h1"> The Shawshank Redemption
            <div class="card-text card-text-right">
                 <h6> IMBD Rating 9.3/10 2.7M </h6>
                <a href="https://www.imdb.com/title/tt0111161/" target="_blank" class="btn btn-info"> Watch Now!</a>
            </div>
        </div>
    </div>
</div>

<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/zDKFTJNX/2.jpg" alt="funcard img">
<div class="card-body">
    <div class="card-title h1"> The Godfather
        <div class="card-text card-text-right">
             <h6> IMBD Rating 9.2/10 1.9M </h6>
            <a href="https://www.imdb.com/title/tt0068646/" target="_blank" class="btn btn-info"> Watch Now!</a>
        </div>
    </div>
</div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/zDKFTJNX/2.jpg" alt="funcard img">
<div class="card-body">
<div class="card-title h1"> It's A Wonderful Life
    <div class="card-text card-text-right">
         <h6> IMBD Rating 8.6/10 469k </h6>
        <a href="https://www.imdb.com/title/tt0068646/" target="_blank" class="btn btn-info"> Watch Now!</a>
    </div>
</div>
</div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/kXCFckMN/3.jpg" alt="funcard img">
<div class="card-body">
<div class="card-title h1"> The Dark Knight
    <div class="card-text card-text-right">
         <h6> IMBD Rating 9.0/10 2.7M </h6>
        <a href="https://www.imdb.com/title/tt0468569/" target="_blank" class="btn btn-info"> Watch Now!</a>
    </div>
</div>
</div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/qqywRrJq/4.jpg" alt="funcard img">
<div class="card-body">
<div class="card-title h1"> The Godfather Part II
    <div class="card-text card-text-right">
         <h6> IMBD Rating 9.0/10 1.3M </h6>
        <a href="https://www.imdb.com/title/tt0071562/" target="_blank" class="btn btn-info"> Watch Now!</a>
    </div>
</div>
</div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

<img class="card-img-top" src="https://i.postimg.cc/2jQnV2d1/5.jpg" alt="funcard img">
<div class="card-body">
<div class="card-title h1"> 12 Angry Men
    <div class="card-text card-text-right">
         <h6> IMBD Rating 9.0/10 805k </h6>
        <a href="https://www.imdb.com/title/tt0050083/" target="_blank" class="btn btn-info"> Watch Now!</a>
    </div>
</div>
</div>
</div>
<div class="card box  cardcss card-text-right " style=" width: 18rem;">

    <img class="card-img-top" src="https://i.postimg.cc/Vv8MKCws/6.jpg" alt="funcard img">
    <div class="card-body">
    <div class="card-title h1"> Schindler's List
        <div class="card-text card-text-right">
             <h6> IMBD Rating 9.0/10 1.4M </h6>
            <a href="https://www.imdb.com/title/tt0108052/" target="_blank" class="btn btn-info"> Watch Now!</a>
        </div>
    </div>
    </div>
    </div>
    <div class="card box  cardcss card-text-right " style=" width: 18rem;">

        <img class="card-img-top" src="https://i.postimg.cc/qqywRrJq/4.jpg" alt="funcard img">
        <div class="card-body">
        <div class="card-title h1"> The Godfather Part II
            <div class="card-text card-text-right">
                 <h6> IMBD Rating 9.0/10 1.3M </h6>
                <a href="https://www.imdb.com/title/tt0071562/" target="_blank" class="btn btn-info"> Watch Now!</a>
            </div>
        </div>
        </div>
        </div>


    </div>
</div>
</body>
</html>